/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Josefin Sans'), url('/fonts/josefin-sans-400.woff2') format('woff2');
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto'), url('../fonts/roboto-400.woff2') format('woff2');
}
