body {
  --app-main-font-family: 'Roboto', sans-serif;
  --app-heading-font-family: 'Josefin Sans', sans-serif;

  --app-color-shell: hsl(207, 95%, 8%);

  --app-color-light: hsl(207, 95%, 8%);
  --app-color-light-hsl: 207, 95%, 8%;
  --app-color-light-contrast: white;

  --app-color-dark: hsl(0, 0%, 100%);
  --app-color-dark-hsl: 0, 0%, 100%;
  --app-color-dark-contrast: #011627;

  --app-color-primary: hsl(356, 75%, 56%);
  --app-color-primary-hsl: 356, 75%, 56%;
  --app-color-primary-contrast: hsl(207, 95%, 8%);
  --app-gradient-primary: linear-gradient(
    112.7deg,
    hsl(356, 75%, 56%) 11.4%,
    hsl(356, 75%, 56%) 70.2%
  );
}
