body {
  --app-main-font-family: 'Jetbrains Mono', monospace;
  --app-heading-font-family: 'Jetbrains Mono', monospace;

  --app-color-shell: #18181b;

  --app-color-light: hsl(240, 6%, 10%);
  --app-color-light-hsl: 240, 6%, 10%;
  --app-color-light-contrast: white;

  --app-color-dark: hsl(0, 0%, 100%);
  --app-color-dark-hsl: 0, 0%, 100%;
  --app-color-dark-contrast: hsl(240, 6%, 10%);

  --app-color-primary: #f5853c;
  --app-color-primary-hsl: 24, 90%, 60%;
  --app-color-primary-contrast: hsl(240, 6%, 10%);
  --app-gradient-primary: linear-gradient(112.7deg, #fa983d 11.4%, #f5853c 70.2%);
}
